$cHeader: #2049696c;
$cFooter: #204969ce;
$cGreen: #08FFC8;
$cGreenc:rgba(0, 255, 200, 0.438);
$cWhite: #fff;
$cWhitec:rgba(255, 255, 255, 0.7);
$cWhitecc:rgba(255, 255, 255, 0.35);
$cBlack: #000;
$cNavy: #204969;
$cGrey: #DADADA;
$cShadow: rgba(0, 0, 0, 0.404);
$cTra:rgba(255, 255, 255, 0);